<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0 , 0, 0, 0.3) 0%, rgba(0 , 0, 0, 0.5) 50%), url(<%= image_path "cover.jpg" %>);">
  <div class="banner-content">
    <h1>Bienvenue chez votre pharmacien</h1>
    <p>Toute l'équipe vous souhaite la bienvenue sur son site</p>
    <a href="/ordonnances/new" class="btn-medium">Envoyer mon ordonnance</a>
  </div>
</div>
