<div class="footer-container">
  <div class="footer">
    <div class="static-map">
      <img src="https://maps.googleapis.com/maps/api/staticmap?center=pharmacie liénard,féchain&zoom=15&maptype=roadmap&size=300x200&key=AIzaSyD5VqM5crmZ_LsZc5XrhtP-PN6rxR1FnvM
      " alt="">
    </div>
    <div class="informations">
      <div class="info-col-1">
        <div class="info">
          <p><strong><i class="fa fa-location-arrow footer-icon" aria-hidden="true"></i>
          Adresse</strong></p>
          <div class = "footer-content">
            <p>18, rue Louis Chantreau</p>
            <p>59247, Féchain</p>
          </div>
        </div>
        <div class="info">
          <p><strong><i class="fa fa-phone footer-icon" aria-hidden="true"></i>
          Contact</strong></p>
          <div class="footer-content">
            <p>Tél : 03 27 80 90 55</p>
            <p>Fax : 03 27 80 85 25</p>
          </div>
        </div>
      </div>
      <div class="info-col-1">
        <div class="info-samedi">
          <p><strong><i class="fa fa-clock-o footer-icon" aria-hidden="true"></i>
          Horaires</strong></p>
          <div class="footer-content">
            <p>Lundi-Vendredi</p>
            <p>8h30-12h30 & 14h à 19h</p>
            <p>Samedi: 8h30-12h30</p>
          </div>
        </div>
        <div class="info info-handi">
          <p><strong></strong></p>
          <p><strong><i class="fa fa-wheelchair footer-icon" aria-hidden="true"></i>
          Accès handicapé</strong></p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <p>Trouver une pharmacie de garde: <a href="http://www.servigardes.fr">www.servigardes.fr</a></p>
  </div>
</div>
