<div class = "title-page">
  <h3 class = "title-services">Compléments alimentaires, micronutrition, diététique</h3>
  <div id = "border-title">     </div>
</div>
<div class="gamme-content">
  <p>Ils peuvent être un bon allié pour votre santé, à condition de bien les utiliser. Beauté, bien être, forme, minceur.... Nous disposons d'une gamme complète pour vos attentes spécifiques.
  </p>
  <p>La Micronutrition permet de satisfaire les besoins en micronutriments de chaque individu, par une alimentation diversifiée et associée si nécessaire à une complémentation spécifique.
</p>
  <p><strong>Elle a su prouver son efficacité dans de nombreux domaines tels que :</strong></p>
  <ul>
    <li>Les troubles fonctionnels, cause majoritaire des consultations, en maintenant l’équilibre de l’écosystème intestinal avec des souches microbiotiques.</li>
    <li>L’amélioration de la qualité de vie dégradée par certaines pathologies telles que les cancers en protégeant les cellules de l’organisme des agressions extérieures et du vieillissement cellulaire.</li>
    <li>La régulation des grandes fonctions de l’organisme en limitant les carences et déficits liés aux dysfonctions de l’organisme ainsi qu’aux différents modes de vie.</li>
  </ul>
  <p>La micronutrition sélectionne donc les précieuses molécules qui se trouvent dans notre assiette et s’intéresse à la façon dont notre organisme les utilise. /p>
  <p>N’hésitez pas à demander conseil à votre pharmacien pour évaluer les besoins adaptés à votre organisme et optimiser votre statut micronutritionnel
</p>
  <p><strong>Nos références :</strong></p>
  <ul>
    <li>PILEJE : <br>
      - Fondateur de la micronutirtion et expert dans la recherche des souches microbiotiques. Il est le premier laboratoire français à avoir publier une étude clinique sur la pertinence et l’efficacité d’une combinaison de 4 souches microbiotiques.
      <br>
      - Insudiet : cette gamme issue du laboratoire Pileje s’intéresse à la pratique du « bien manger » et œuvre à la prise en charge
médicale du rééquilibrage alimentaire bénéfique à la santé en développant des solutions nutritionnelles riches en protéines.
<br>
<p>Pour vous aider à modifier vos habitudes alimentaires, Insudiet s’appuie sur une méthode reposant sur 3 axes indissociables et soutenus par un suivi médical régulier :
  <ul>
    <li>le rééquilibrage alimentaire</li>
    <li>la gestion des émotions</li>
    <li>la remise en mouvement</li>
  </ul>
<br>
Grâce à notre suivi personnalisé avec prise de rendez-vous, vous entretiendrez notamment votre motivation, facteur essentiel à l’atteinte de votre objectif. Nous pourrons également vous proposer lors de ces consultations des outils d’accompagnement, des recettes équilibrées et des conseils santé.
</p>
</li>
<br>
    <li>NUTREOV/PHYTEA: Implanté au cœur des volcans d'Auvergne, le laboratoire a été créé en 2002 par Yves-Noël Lepoutre. Tous les produits Nutreov respectent une charte éthique précise : naturalité, qualité, innovation et efficacité.</li>
    <br>
    <li>NOVACTIVE : premiers compléments nutritionnels oraux de la population active à effets chronothérapiques.</li>
    <br>
    <li>NEUF LUNES Femmes enceintes</li>
    <br>
    <li>EA PHARMA : les Laboratoires EA PHARMA développent, fabriquent et distribuent des médicaments et des compléments alimentaires dans le secteur de la santé, de la nutrition sportive et de la minceur (EA FIT). L’oligothérapie (GRANIONS) permet d’intervenir en douceur, et en amont, pour prévenir les déséquilibres ou en complément d’autres soins allopathiques, pour soulager les symptômes ressentis.  La plupart du temps, il n'existe pas de contre-indication. Les oligo-éléments sont très bien tolérés et généralement sans effets</li>
  </ul>
</div>
