<div class = "title-page">
  <h3 class = "title-services">Dermatologie, cosmétologie, parfumerie</h3>
  <div id = "border-title">     </div>
</div>
<div class="gamme-content">
  <p class = "gamme-intro">Un choix de marques complet et suffisant pour trouver le produit adapté à votre peau.</p>
  <p><strong>Nos références :</strong></p>
  <ul>
    <li>AVENE</li>
    <li>CAUDALIE</li>
    <li>VICHY</li>
    <li>DUCRAY</li>
    <li>A-DERMA</li>
    <li>KLORANE</li>
    <li>WELEDA (gamme bio)</li>
    <li>SAMliAR</li>
    <li>ESSENA (soins cosmétiques au lait d’ânesse bio)</li>
    <li>ROGE CAVAILLES</li>
    <li>ROGE GALLET</li>
    <li>CLAUDE GALIEN</li>
  </ul>
  <p>Soyez surs de notre suivi complet et de notre accompagnement pour chaque patient concerné. Aide à domicile, nutrition, palier les effets indésirables faisant suite aux chimiothérapies…</p>
  <p><strong>Nos références :</strong></p>
  <ul>
    <li>EVAUX</li>
    <li>AVENE</li>
    <li>LACTALIS (DELICAL)</li>
    <li>NESTLE</li>
    <li>FRESENIUS</li>
  </ul>
</div>
