<div class = "title-page">
  <h3 class = "title-services">Fleur de Bach</h3>
  <div id = "border-title">     </div>
</div>
<div class="gamme-content">
  <p class = "gamme-intro">Edward Bach a développé une méthode unique & naturelle pour que chacun puisse vivre en harmonie émotionnelle. Les 38 fleurs de Bach ciblent toutes les émotions passagères ou régulières de l'individu : 1 émotion = 1 fleur. Pour savoir qu'elle fleurs de bach utiliser, consultez notre guide.</p>
  <p><strong>Notre référence :</strong></p>
  <ul>
    <li>FAMADEM</li>
  </ul>
</div>
