<div class = "title-page">
  <h3 class = "title-services">Gemmothérapie</h3>
  <div id = "border-title"></div>
</div>
<div class="gamme-content">
  <p>La gemmothérapie est une branche de la phytothérapie. Cette thérapie naturelle consiste à utiliser les propriétés des tissus embryonnaires végétaux en croissance : les bourgeons et les jeunes pousses d’arbres et d’arbustes. Les tissus embryonnaires qui composent le bourgeon contiennent tout le patrimoine génétique de la future plante. De nombreux principes actifs contenus dans le bourgeon ne seront plus nécessairement présents dans la plante adulte ou alors en moindre quantité.
  </p>
  <br>
  <p>Récolté juste avant leur éclosion, le bourgeon conserve toute sa pureté et sa force. Le vieillissement et les agressions telles que la pollution, les pesticides lui sont épargnés. </p>
  <br>
  <p>La gemmothérapie est une forme de phytothérapie innovante et abordable pour tous les âges, on peut la conseiller aux enfants et même dans certaines limites à la femme enceinte.
  </p>
  <br>
  <p><strong>Nos références :</strong></p>
  <br>
  <li>HERBALGEM : Expert depuis plus de 30 ans dans le développement et la production de compléments alimentaires à base de bourgeons et d’extraits de plantes, HerbalGem offre la plus large gamme de gemmothérapie concentrée.
  </li>
</div>
