<%= render 'shared/banner' %>
<div class="team-message">
  <p class = "message-top"><strong>Hélène Liénard et son équipe vous accueillent sur le site de votre pharmacie
  afin d’améliorer leurs services et de répondre plus rapidement à vos demandes. </strong></p>
  <p class = "message-bottom"><strong>Parce que votre santé est notre priorité.</strong></p>
</div>
<div class="team-temporary-message">
  <p class = "message-temporary-top"><strong>Message de l'équipe </strong></p>
  <p class = "message-temporary-bottom"><strong>"Nous souhaitons une excellente année"</strong></p>
</div>
