<div class = "title-page">
  <h3 class = "title-services">Homéopathie</h3>
  <div id = "border-title"></div>
</div>
<div class="gamme-content">
  <p>Crée par le docteur Hahnemann au 18ème siècle, l'homéopathie vise à soigner l'être humain en lui administrant des doses infinitésimales de remèdes entièrement naturels. Cette forme de médecine alternative basés sur quelques principes fondamentaux permet donc de traiter avec douceur une multitude de maux.
  </p>
  <br>
  <p>Largement répandue à travers le monde, l’homéopathie se classe aujourd’hui comme l’une des méthodes thérapeutiques les plus appréciées et les plus recherchées. Bénéfique pour le corps et l’esprit, cette forme de médecine alternative s’avère en effet nettement moins agressive pour l’organisme que la plupart des traitements allopathiques auxquels nous sommes parfois beaucoup trop habitués. </p>
  <br>
  <p>La médecine homéopathique convient, comme la phytothérapie, à toute catégorie d’âge.</p>
  <p>Elle est préconisée dans le cadre de la prévention et du traitement des affections respiratoires chroniques, des allergies, des troubles gastriques, des maladies cardio-vasculaires, des maladies osseuses, du stress et de l’anxiété.</p>
  <br>
  <p><strong>Nos références :</strong></p>
  <br>
  <li>BOIRON
  </li>
  <li>LEHNING
  </li>
  <li>WELEDA
  </li>
</div>
