<div class = "title-page">
  <h3 class = "title-services">Incontinence</h3>
  <div id = "border-title">     </div>
</div>
<div class="gamme-content">
  <p class = "gamme-intro">Parce que c’est un phénomène beaucoup plus fréquent qu'on ne l'imagine. Un conseil assuré et adapté à chacun pour évaluer et gérer au mieux les pertes urinaires avec des produits de qualité.</p>
  <p><strong>Notre référence :</strong></p>
  <ul>
    <li>HARTMANN</li>
  </ul>
</div>
