<div class = "title-page">
  <h3 class = "title-services">Matériel médical</h3>
  <div id = "border-title">     </div>
</div>
<div class="gamme-content">
<p>Un choix de marques complet et suffisant pour trouver le produit adapté à votre peau.</p>
<p>Vous avez besoin d’équipements ou de conseils suite à une sortie d’hospitalisation ou de maternité ?</p>
<p>Vous voulez améliorer votre confort au quotidien ou faciliter le maintien à domicile d’un de vos proches ?</p>
<p>Vous souhaitez des conseils pour aménager votre habitat ?</p>
<p>Nous avons à disposition une large gamme de produits et services d'aide à la mobilité, et au maintien à domicile, : Locations de lits, fauteuils, pompes à insuline, Oxygénothérapie, Aérosolthérapie…
Demandez nous conseil !</p>
<p>
  <br>
Nos références :
<br>
- <a href="https://www.pcmad.fr/pharmacie-lienard-fechain/">Consulter notre catalogue virtuel</a> <br>
- Réserver en ligne</p>
</div>
