<div class = "title-page">
  <h3 class = "title-services">Accompagnement en Oncologie</h3>
  <div id = "border-title">     </div>
</div>
<div class="gamme-content">
  <p class = "gamme-intro">Soyez surs de notre suivi complet et de notre accompagnement pour chaque patient concerné.
Aide à domicile, nutrition, palier les effets indésirables faisant suite aux chimiothérapies…</p>
  <p><strong>Nos références :</strong></p>
  <ul>
    <li>EVAUX</li>
    <li>AVENE</li>
    <li>LACTALIS (DELICAL)</li>
    <li>NESTLE</li>
    <li>FRESENIUS</li>
  </ul>
</div>









