<div class = "title-page">
  <h3 class = "title-services">Incontinence</h3>
  <div id = "border-title">     </div>
</div>
<div class="gamme-content">
  <p class = "gamme-intro">Profitez d’un espace spécialement aménagé pour essayer les lunettes loupes adaptées à votre vue.</p>
  <p><strong>Notre référence :</strong></p>
  <ul>
    <li>HORIZANE</li>
  </ul>
</div>
