<div class = "title-page">
  <h3 class = "title-services">Orthopédie / Contention / Prises-sur-mesures</h3>
  <div id = "border-title"></div>
</div>
<div class="gamme-content">
  <p>Un vaste choix de contention (chaussettes, bas, collants) et appareillages orthopédiques sur mesure (ceintures, semelles, corsets, manchons, soutien-gorges, prothèses mammaires...). Un local dédié est à votre disposition pour la prise de mesure et les essayages.
</p>
  <br>
  <p><strong>Nos références :</strong></p>
  <ul>
    <li>RADIANTE</li>
    <li>SIGVARIS</li>
    <li>MEDI</li>
    <li>DONJOY</li>
    <li>LOHMAN</li>
    <li>HARTMANN</li>
    <li>CERECARE</li>
    <li>ANITA</li>
    <li>BSN</li>
    <li>PODOWELL</li>
    <li>GIBAUD</li>
    <li>ORTHOSUR (semelles sur mesures)</li>
  </ul>
</div>
