<div class = "title-page">
  <h3 class = "title-services">Phytothérapie</h3>
  <div id = "border-title"></div>
</div>
<div class="gamme-content">
  <p>La phytothérapie, propose des traitements de fond dont l'action douce aide à prévenir les maladies et à traiter des problèmes chroniques tels que l'arthrose ou l'insomnie, par exemple. Pour cela, la phytothérapie agit en profondeur, sans agresser l'organisme tout en stimulant ses bonnes réactions. Résultat concluant : une action plus efficace, durable mais surtout dépourvue d'effets secondaires.</p>
  <br>
  <p>Elle concerne toute catégorie d’âge alors n'hésitez pas à demander conseil à votre pharmacien qui saura vous guider dans vos choix.</p>
  <br>
  <p>La phytothérapie est officiellement reconnue en France en 1986 par le ministère de la santé comme une médecine à part entière, Il s’agit là d’une une preuve incontestable de son efficacité. Les médicaments recommandés en phytothérapie sont tous titrés en principes actifs, ce qui signifie qu'ils contiennent une concentration plus ou moins forte, mais toujours connue, de substances actives.</p>
  <br>
  <p><strong>Nos références :</strong></p>
  <br>
  <p>ARKOPHARMA : Laboratoire français fondé en 1980 par le docteur Max Rombi, spécialisé dans le domaine de la phytothérapie, des médicaments naturels et des compléments alimentaires.
  Il est aujourd’hui considéré comme le leader européen des médicaments de phytothérapie et des compléments alimentaires.</p>
  <br>
  <p>SUPERDIET : Laboratoire fondé il y a 50ans par René Haussin, originaire du Nord de la France.  Superdiet formule de « produits de caractère » en comprimés, en gélules, en ampoules buvables pour une approche globale et pour la responsabilisation de l’être humain. La réputation de SUPER DIET en France et à l’étranger est devenue unique dans le domaine du complément alimentaire et du bien-être au naturel.</p>
  <br>
  <p>PILEJE : Expert en micronutrition mais également dans l’élaboration d’EPS (extrait phytostandard) que ce soit en gélules ou en solution. Nous saurons vous trouver la formule la plus adaptée à vos besoins.</p>
</div>
