<div class = "title-page">
  <h3 class = "title-services">Puériculture</h3>
  <div id = "border-title"></div>
</div>
<div class="gamme-content">
  <p>Profitez d’un espace dédié aux nourrissons et aux parents avec tous les produits nécessaires à leur bien-être, mais aussi la location de tire lait et pèse bébés.
</p>
  <br>
  <p><strong>Nos références :</strong></p>
  <ul>
    <li>PICOT</li>
    <li>GUIGOZ</li>
    <li>MUSTELA</li>
    <li>AVENE</li>
    <li>KLORANE</li>
    <li>DODIE</li>
    <li>NEUF LUNES</li>
  </ul>
</div>
