<div class="services">
  <div class = "title-page">
    <h3 class = "title-services">Services et Prestations</h3>
    <div id = "border-title">     </div>
  </div>
  <div class="services-container">
    <div class="service-item">
      <p class = "title-service"><i class="fa fa-medkit footer-icon" aria-hidden="true"></i>
 Premiers soins</p>
      <p class="service-content">
        Nous assurons les gestes d'urgence ou les premiers soins en cas de blessure, saignement, gêne oculaire...et vous orientons ensuite si nécessaire vers les professionnels de santé concernés.
      </p>
    </div>
    <div class="service-item">
      <p class = "title-service"><i class="fa fa-suitcase footer-icon" aria-hidden="true"></i>
Matériel Médical</p>
      <p class="service-content">
        Nous assurons les gestes d'urgence ou les premiers soins en cas de blessure, saignement, gêne oculaire...et vous orientons ensuite si nécessaire vers les professionnels de santé concernés.
      </p>
    </div>
    <div class="service-item">
      <p class = "title-service"><i class="fa fa-info-circle footer-icon" aria-hidden="true"></i>
 Installation et Livraison</p>
      <p class="service-content">
        Une personne compétente de l’équipe vous livrera directement à votre domicile les médicaments prescrits par le médecin et vous fournira les informations utiles à la prise de votre  traitement.
        Tout matériel médical livré sera également installé par nos soins, maintenance incluse en cas de location.
      </p>
    </div>
    <div class="service-item">
      <p class = "title-service"><i class="fa fa-check-circle footer-icon" aria-hidden="tru"></i>
Maintien à domicile</p>
      <p class="service-content">
        Nous vous proposons un ensemble de solutions pour vous apporter toujours plus d’autonomie et de mobilité au quotidien. Pour cela, nous vous accompagnons pour découvrir les produits et les services sur-mesure adaptés à vos besoins. Nous pouvons facilement coordonner la mise en place de toutes les solutions nécessaires au sein de votre domicile.
      </p>
    </div>
    <div class="service-item">
      <p class = "title-service">Prévention et Dépistage</p>
      <p class="service-content">
        Diabète, hypertension, surpoids sont des pathologies qui se manifestent surtout lors des complications et deviennent alors des facteurs de risque important de maladies cardi-vasculaire.
        Votre pharmacien vous propose tout au long de l'année des dépistages gratuits pour les prévenir, en collaboration avec votre médecin.
      </p>
    </div>
    <div class="service-item">
      <p class = "title-service">Dépistage tension artérielle</p>
      <p class="service-content">
        Une tension artérielle trop élevée augmente les risques de pathologies cardiaques. Entre les rendez-vous chez votre médecin, votre pharmacie vous propose de contrôler votre tension.
      </p>
    </div>
    <div class="service-item">
      <p class = "title-service">Dépistage diabète</p>
      <p class="service-content">
        Le diabète touche 3 millions de personnes en France dont 700000 qui s'ignorent !
        Demandez-nous conseil pour savoir si vous faites partie des personnes à risque.
        Sur rendez-vous.
      </p>
    </div>
    <div class="service-item">
      <p class = "title-service">Surpoids</p>
      <p class="service-content">
        Nous pouvons vous accompagner dans la perte de poids : calcul IMC (indice de masse corporelle), bilan de vos habitudes alimentaires et conseils pour avoir une santé optimale.Sur rendez-vous.
        Selon les résultats de ces différents tests, nous vous apporterons les conseils adpatés et si nécessaire, vous inviterons à consulter un médecin ou à réaliser un examen plus complet dan sun laboratoire de biologie médicale.
      </p>
    </div>
    <div class="service-item">
      <p class = "title-service">Sevrage tabagique</p>
      <p class="service-content">
        Vous souhaitez arrêter de fumer? Nous pouvons vous accompagner dans tous les étapes du sevrage tabagique et vous conseillons le traitement approprié.
        Sur rendez-vous.
      </p>
    </div>
    <div class="service-item">
      <p class = "title-service">Installation et Livraison</p>
      <p class="service-content">
        Une personne compétente de l’équipe vous livrera directement à votre domicile les médicaments prescrits par le médecin et vous fournira les informations utiles à la prise de votre  traitement.
        Tout matériel médical livré sera également installé par nos soins, maintenance incluse en cas de location.
      </p>
    </div>
  </div>
</div>
