<div class = "title-page">
  <h3 class = "title-services">Vétérinaire</h3>
  <div id = "border-title">     </div>
</div>
<div class="gamme-content">
  <p class = "gamme-intro">Un espace dédié bien-être de vos animaux de compagnie et met à votre disposition une gamme complète pour répondre à leurs besoins.</p>
  <p><strong>Nos références :</strong></p>
  <ul>
    <li>CLEMENT THEKAN</li>
    <li>BIOCANINA</li>
    <li>VETOFORM</li>
    <li>BAYER</li>
  </ul>
</div>
