<p>Bonjour Hélène,</p>

<p>Voici le contenu du message:</p>

<p><strong>Nom :</strong>  <%= @contact.last_name %></p>
<p><strong>Prénom :</strong>  <%= @contact.first_name %></p>
<p><strong>Email :</strong>  <%= @contact.email %></p>
<p><strong>Message :</strong>  <%= @contact.comment %></p>
