.footer {
  background: $blue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 50px;
  padding: 25px 45px;
  color: #3D3F40;
  height: 300px;
  transition: 0.5s;
  border-top: 2px solid #d3f1fb;
}
.footer p {
  font-weight: bold;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
.informations {
  display: flex;
}
.info-col-1 {
  display: flex;
  flex-direction: column;
  margin: 0 70px;
  width: 140px;
}
.info {
  margin: 25px 0;
}
.info-samedi {
  margin: 0px 0;
  margin-top: 25px;
}
.info-handi {
  margin: 0px 0;
}
.footer-icon {
  margin-right: 7px;
  font-size: 17px;
  opacity: none;
  margin-bottom: 5px;
}
.footer-content {
  font-size: 13px;
  opacity: 0.95;
}
.footer-content p{
  font-weight: lighter;
}
@media(max-width: 720px) {
  .info-col-1 {
    margin: 0 10px;
  }
  .footer {
    height: 600px;
    display: flex;
    flex-direction: column;
  }
}
