.card-container {
  width: 100%;
  margin: 40px;
}

.cards {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  width: 200px;
  height: 250px;
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.1s;
  text-decoration: none;
  box-shadow: 2px 4px 17px rgba(0, 0, 0, 0.05);
}
.card:hover {
  text-decoration: none;
  box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.1);
}
.gamme-title {
  font-weight: bold;
  // border-top: solid 1px rgb(130, 130, 130);
  padding-top: 15px;
  text-decoration: none;
  color: black;
}
#avatar {
  border-radius: 50%;
}

